@tailwind base;
@tailwind components;
@tailwind utilities;

.read-only div[data-slot="input-wrapper"] {
    @apply bg-zinc-200;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    border: 0.5rem solid #006fee;
    border-top: 0.5rem solid #063d70;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}

button, label, div[data-slot="error-message"] {
    font-family: 'Poppins';
}