@tailwind base;
@tailwind components;
@tailwind utilities;

.read-only div[data-slot="input-wrapper"] {
    @apply bg-zinc-200;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}